In [1]:
#文本格式数据的读写

In [2]:
#多用read_csv和read_table函数

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from pandas import Series, DataFrame

In [53]:
!type examples\ex1.csv     #windows环境下查看文件内容命令为type，路径分隔符为\

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

examples\ex1.csv


参数错误。

In [51]:
df = pd.read_csv('examples/ex1.csv')    #逗号为默认分隔符

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
pd.read_table('examples/ex1.csv', sep = ',')   # 手动指定分隔符为逗号，默认分隔符为制表符'\t'

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('examples/ex2.csv', header = None)   #自动分配默认列名

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])   #指定列名

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']

In [14]:
pd.read_csv('examples/ex2.csv', names = names, index_col = 'message')    #使message列成为返回DataFrame的索引，
                                                                         #可以指定位置4的列为索引或将'message'传给参数index_col

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [16]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col = ['key1', 'key2']) #从多个列中形成一个分层索引
                                                                              #需要传入一个包含列序号或列名的列表

In [17]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [18]:
list(open('examples/ex3.txt'))     #分隔符不固定

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
result = pd.read_table('examples/ex3.txt', sep = '\s+')    #可以传入正则表达式作为分隔符 \s为匹配任意空白字符，+表示一个或多个

In [20]:
result          #由于列名的数量比数据的列数少一个，因此read_table推断第一列应当为索引

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [22]:
pd.read_csv('examples/ex4.csv', skiprows= [0, 2, 3])     #使用skiprows可以跳过某些行

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [24]:
result = pd.read_csv('examples/ex5.csv')

In [25]:
result            #默认情况下pandas使用一些常见的标识标识空白，例如NA和NULL

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [27]:
result = pd.read_csv('examples/ex5.csv', na_values = ['NULL'])      #使用na_values可以传入一个列表或一组字符串来处理缺失值

In [28]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
sentinels = {'message' : ['foo', 'NA'], 'something' : ['two']}

In [49]:
pd.read_csv('examples/ex5.csv', na_values = sentinels)   #在字典中，每列可以指定不同的缺失值标识

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [ ]:
#分块读入文本文件

In [31]:
pd.options.display.max_rows = 10       #调整pandas的显示设置

In [32]:
result = pd.read_csv('examples/ex6.csv')

In [33]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [34]:
pd.read_csv('examples/ex6.csv', nrows = 5)            #nrows指定读取部分行

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [35]:
chunker = pd.read_csv('examples/ex6.csv', chunksize = 1000)          #为了分块读入文件，可以指定chunksize作为每一块的行数

In [36]:
chunker                #read_csv分块后返回的TextParser对象允许根据chunksize遍历文件

In [37]:
tot = pd.Series([])

In [38]:
for piece in chunker:                    #遍历ex6.csv。并对'key'列聚合获得计数值
    tot = tot.add(piece['key'].value_counts(), fill_value = 0)   #fill_value通过重新索引引入缺失数据时使用的替代值

In [39]:
tot = tot.sort_values(ascending = False)

In [41]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

In [43]:
chunker1 = pd.read_csv('examples/ex6.csv', iterator = True)   #返回一个TextParser对象，用于零散的读入文件

In [44]:
chunker1

In [47]:
chunker1.get_chunk(size = 10)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [54]:
#将数据写入文本格式

In [55]:
data = pd.read_csv('examples/ex5.csv')

In [188]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [194]:
data1 = pd.read_csv('examples/ex7.csv')

In [57]:
data.to_csv('examples/out1.csv')

In [58]:
!type examples\out1.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [59]:
import sys

In [61]:
data.to_csv(sys.stdout, sep = '|')       #指定分隔符

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [62]:
data.to_csv(sys.stdout, na_rep = 'NULL')      #指定缺失值标识

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [65]:
data.to_csv(sys.stdout, index = False, header = False)      #默认行列标签会被写入，也可以禁止

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [69]:
data.to_csv(sys.stdout, index = False, columns=['b', 'a', 'c'])    #可以仅写入列的子集，并按照指定顺序

b,a,c
2,1,3.0
6,5,
10,9,11.0

In [70]:
dates = pd.date_range('1/1/2000', periods = 7)

In [71]:
ts = pd.Series(np.arange(7), index = dates)

In [72]:
ts.to_csv('examples/tseries1.csv')

In [73]:
!type examples\tseries1.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [74]:
#使用分隔格式

In [75]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [93]:
import csv

In [94]:
f = open('examples/ex7.csv')  #对于任何带有单字符分隔符的文件，可以使用Python的内建csv模块

In [95]:
reader = csv.reader(f)        #使用时将打开的文件传给csv.reader

In [96]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [167]:
with open('examples/ex7.csv') as f:    #将文件读取为行的列表
    lines = list(csv.reader(f))

In [168]:
header, values = lines[0], lines[1:]

In [169]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [170]:
zip1 = zip(*values)
list(zip1)

[('1', '1'), ('2', '2'), ('3', '3')]

In [171]:
zip2 = zip(header, zip(*values))
list(zip2)

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [172]:
data_dict = {h : v for h, v in zip(header, zip(*values))}  #生成一个包含数据列的字典

In [173]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [196]:
#如需根据不同的分隔符、字符串引用约定等定义一直新的格式是，可以定义一个简单的类
class my_dialect(csv.Dialect):       
    """
    lineterminator:行终止符
    delimiter:分割字段字符
    quotechar:含有特殊字符字段中引号
    qouting:引用惯例，以下为只使用特殊字符
    """
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [182]:
f = open('examples/ex7.csv')
reader = csv.reader(f, dialect = my_dialect)

In [183]:
reader = csv.reader(f, delimiter = '|')   #也可以将CSV方言参数出入

In [187]:
f.close()

In [205]:
with open('examples/mydata1.csv', 'w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow(('one','two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [206]:
!type examples\mydata1.csv

one;two;three
1;2;3
4;5;6
7;8;9